#header-pic{
  background-image : url(/img/space-shuttle.jpg);
  background-position : 50% 0px;
  background-size : cover;
}


body {
  padding: 0px;
  margin: 0px;
  line-height: 1.5em;
  text-align: center;
  font-size: 16px; }

.container#box {
  display: inline-block;
  width: 650px;
 }

/*sections*/
section{
  display: block;
  padding: 20px 0px; }

  /* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1055px) {
   .container#box {
  width: 650px; }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .container#box {
  width: 500px; }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .container#box {
  width: 350px; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
     .container#box {
  width: 320px; }
        }





