<div class="container" id="contact" name="contact">
	<div class="row">
	<br>
		<h1 class="centered">THANKS FOR VISITING US</h1>
		<hr>
		<br>
		<br>
		<div class="col-lg-4">
			<h3>Contact Information</h3>
			<p>
				<span class="fa fa-home"></span> 259 Blvd. Alfonso Valdez Cabian, Mayagüez, PR<br/>
				<span class="fa fa-envelope"></span> <a href="mailto:dart.uprm@gmail.com"> dart.uprm@gmail.com</a> <br/>
				
			</p>
		</div><!-- col -->
		<div class="col-lg-4">
			<h3>Become a Sponsor</h3>
			<p>We are grateful for each prospective sponsor's passion for our mission and desire to promote the development of rocket science throughout our university and community.<br><br><a class="btn btn-success" href="/files/proposal.pdf">Download Our Proposal</a></p>
			
		</div><!-- col -->
		<div class="col-lg-4">
			<h3>Support Us</h3>
			<p>We need your help to make the work of Dynamic Aerospace Rocketry Team a success.<br><br></p>
			
		</div><!-- col -->
	</div><!-- row -->	
</div><!-- container -->