<div id="navbar-main">
  	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
        	<div class="navbar-header">
				<a href="#" class="burger">
					<span class="burger-x"></span>
				</a>
        	</div>
      	</div>
    </div>
</div>
<!-- Navigation Menu -->
<nav id="body-nav">
    <ul>
    	<li><a href="/index.html">Home</a></li>
        <li><a href="/about/index.html">About</a></li>
        <li><a href="/team/index.html">Meet The Team</a></li>
        <li><a href="/events/index.html">Events</a></li>
        <!--<li><a href="/outreach/index.html">Outreach</a></li>-->
        <li><a href="/news/index.html">News</a></li>
        <li><a href="/contact/index.html">Contact Us</a></li>
    </ul>
</nav>